<heading bgcolor="pink">

<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p><i>You've got a lot of problems if you are going to Twitter for help</i></p>
<a>I don't even know what this is</a>
