<div class="center jumbotron">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of my Demo app! 
  </h2>
  <%= link_to "Sign Up Here!", "users/new", class: "btn btn-lg btn-primary" %>
  <%= link_to "The Googs", 'https://www.google.com', class: "btn btn-lg btn-primary" %>
  <%= link_to "Andy don't Hack Me", 'https://www.tubgirl.com', class: "btn btn-lg btn-primary" %>
</div>